joblib==1.4.2
opencv_python_headless==4.9.0.80
pandas==2.2.2
pandas-stubs==2.2.3.241126
parallel_pandas==0.6.4
pyarrow==15.0.1
plotly==5.23.0
pydantic==2.9.2
nbformat==5.10.4
pydot==3.0.1
matplotlib==3.10.0
requests==2.32.3
rich==13.7.1
scikit-learn==1.5.2
tensorflow==2.17.0
typer==0.12.3
typing_extensions==4.12.2
ipykernel==6.29.5
skops==0.10.0
scikit-image==0.24.0